:root {
  --dk-navy: #1F2937;
  --white: #F9FAF8;
  --grey: #E5E7EB;
  --dk-grey: #6D747D;
  --blue: #3882F6;
  --x-sm: 15px;
  --sm: 18px;
  --md: 24px;
  --lg: 36px;
  --x-lg: 48px;
  --light: 300;
  --bold: 700;
  --x-bold: 900;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, p, figure {
  margin: 0;
}

button {
  border: none;
}

nav {
  background-color: var(--dk-navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vw;
}

nav > h3 {
  color: var(--white);
  font-size: var(--md);
}

nav a {
  color: var(--grey);
  text-decoration: none;
  font-size: var(--sm);
  margin-left: var(--md);
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: var(--dk-navy);
  padding: 10vh 10vw;
}

#hero h1 {
  color: var(--white);
  font-weight: var(--x-bold);
  font-size: var(--x-lg);
}

#hero h1 + p {
  color: var(--grey);
  font-size: var(--sm);
  margin-bottom: 10px;
}

#hero button, #signup button {
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-weight: var(--bold);
  padding: 4px 25px;
}

#hero > :last-child {
  background-color: var(--dk-grey);
  color: var(--white);
  display: flex;
  align-items: center;
}

#hero > :last-child > p {
  white-space: nowrap;
  margin: 8vh 10vw;
  font-size: var(--sm);
}

#info {
  padding: 5vh 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info > h2 {
  color: var(--dk-navy);
  font-weight: var(--x-bold);
  font-size: 30px;
  margin-bottom: 30px;
}

#info > div {
  display: flex;
  gap: 3vw;
}

#info img {
  width: 125px;
  height: 125px;
  border: 3px solid var(--blue);
  border-radius: 7px;
}

#info figure {
  width: 131px;
}

#info figcaption {
  color: var(--dk-grey);
  font-size: var(--x-sm);
  text-align: center;
}

#quote {
  background-color: var(--grey);
  color: var(--dk-navy);
  padding: 10vh 20vw;
}

#quote > :first-child {
  font-size: var(--lg);
  font-weight: var(--light);
  font-style: italic;
}

#quote > :last-child {
  font-weight: var(--bold);
  text-align: right;
  font-size: var(--md);
}

#signup {
  padding: 8vh 10vw;
}

#signup > div {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 40px 0;
}

#signup h3 {
  font-size: var(--md);
}

#signup p {
  color: var(--grey);
  font-size: var(--sm);
}

#signup button {
  border: 2px solid var(--white);
}

footer {
  background-color: var(--dk-navy);
  color: var(--white);
  font-size: var(--sm);
  text-align: center;
  padding: 3vh 0;
}