:root {
  --dk-navy: #1F2937;
  --white: #F9FAF8;
  --grey: #E5E7EB;
  --dk-grey: #6D747D;
  --blue: #3882F6;
  --x-sm: 13px;
  --sm: 15px;
  --md: 20px;
  --x-lg: 40px;
  --light: 300;
  --bold: 700;
  --x-bold: 900;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, p, figure {
  margin: 0;
}

nav {
  background-color: var(--dk-navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

nav > h3 {
  color: var(--white);
  font-size: var(--md);
}

nav a {
  color: var(--grey);
  text-decoration: none;
  font-size: var(--sm);
  margin-left: var(--md);
}

#hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: var(--dk-navy);
  padding: 100px 100px;
}

#hero h1 {
  color: var(--white);
  font-weight: var(--x-bold);
  font-size: var(--x-lg);
}

#hero h1 + p {
  color: var(--grey);
  font-size: var(--sm);
  margin-bottom: 10px;
}

#hero button {
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-weight: var(--bold);
  padding: 4px 25px;
}

#hero > :last-child {
  background-color: var(--dk-grey);
  color: var(--white);
  display: flex;
  align-items: center;
}

#hero > :last-child > p {
  white-space: nowrap;
  margin: 0 75px;
  font-size: var(--sm);
}

#info {
  padding: 30px 150px 75px 150px;
}

#info > h2 {
  color: var(--dk-navy);
  font-weight: var(--x-bold);
  text-align: center;
  margin-bottom: 30px;
}

#info > div {
  display: flex;
  justify-content: space-around;
}

#info img {
  width: 125px;
  height: 125px;
  border: 3px solid var(--blue);
  border-radius: 7px;
}

#info figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 131px;
}

#info figcaption {
  color: var(--dk-grey);
  font-size: var(--x-sm);
  text-align: center;
}